@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  line-height: 1;
}

p {
  line-height: 1.618;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}
