.recipe-card {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  &__content {
  }

  &__info {
    padding: 2rem;

    h4 {
      margin-bottom: 1rem;
      width: 22ch;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    p {
      color: $text-mid;
      span {
        font-weight: 500;
        color: $text-dark;
      }
    }
  }

  &__actions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
}
