@import "partials/variables";
@import "partials/typography";
@import "partials/buttons";

@import "components/header";
@import "components/footer";
@import "components/recipe-card";

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $href;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

// Global
body {
  font-size: 1.6rem;
  color: $text-dark;
  background-color: $body-bg;
}

.layout {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.page-content {
  width: 100%;
  max-width: 120rem;
  margin: 2rem auto 8rem;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 4rem;
  row-gap: 6rem;
}
